.auheader h2,
.aheader h2,
.photo-gallery h2,
.mheader h2{
  color: var(--tc);
}

.audiscription,
.adiscription,
.mdiscription{
    margin-bottom: 0.5rem;
}

.aboutus,
.photo-gallery,
.ourm,
.ltinfo,
.oura{
    margin: 0px 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.ausubheader p,
.asubheader p,
.msubheader p{
    text-align: start;
    color: var(--tc);
    font-size: 1.2rem;
    font-weight: bold;
}

/* New styles for image container and images */
.image-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.image {
  width: 150px; /* fixed width */
  aspect-ratio: 3 / 4; /* enforce 3:4 ratio */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media screen and (min-width: 600px) {
  .au-main {
    margin: 0px 8rem;
  }
}

.ltname{
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.lt-p1{
  font-size: 16px;
  font-weight: bold;
  color: var(--tc);
}

.lt-p2{
  color: rgba(128, 128, 128, 0.748);
  font-size: 13px;
}

.ltimg{
  border: 2px solid var(--tc);
  height: 6rem;
  width: 6rem;
  border-radius: 20rem;
  background-image: url("../../public/assets/gallery/ltpic.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(128, 128, 128, 0.197);
}