.condis header {
  font-size: 20px;
  color: var(--tc);
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.condis {
  margin: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contheader {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--tc);
  font-size: 20px;
}
